---
layout: layouts/base.njk
---

{%- for onoff in collections.onoff | reverse -%}
  {%- if (onoff.data.user) == "Rengo" -%}
    {%- if (onoff.data.onoff) == "on" -%}
      <p style="font-size:large">{{ onoff.data.user }} is <input type="checkbox" disabled data-toggle="toggle" data-size="sm" checked> {{ onoff.data.pronouncement }}</p>
    {%- else -%}
      <p style="font-size:large">{{ onoff.data.user }} is <input type="checkbox" disabled data-toggle="toggle" data-size="sm"> {{ onoff.data.pronouncement }}</p>
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}